@import '../../../style/settings.scss';

.toutesNosFormations{
    width: 100%;
    padding: 0;
    margin: 0;

    .headerNosFormations{
        height:500px;
        width: 100%;
        background-image: url("https://mdsformations-website-u5520.vm.elestio.app/toutesNosFormations.webp");
        background-size:cover;
        object-fit: cover;
        background-position: 50% 60%;
        display: flex;
        align-items: start;
        justify-content: end;
        flex-direction: column;
        padding: 0 10% 60px 10%;
        color: white;

        h1{
            font-size: 36px;
            font-family: "poppins-semiBold";
            color: #ffffff;
            margin-bottom: 5px;
        }
        h2{
            font-size: 20px;
            width: 45%;
            font-family: "poppins-light";
            color: #ffffff;
        }
    }
    .containerNosFormations{ 
        padding: 40px 2% 40px 10%;
    .texteNosFormations{
        p{
            font-size: 14px;
            width: 95%;
            margin-bottom: 20px;
        }
    }

    .listeNosFormations{
        h3{
            color: var(--Gris, #000000);
            font-size: 21px;
        }

        .formationLigne{
            display: flex;

            .formationLigneText{
                width: 40%;
                padding-top: 50px;
                margin-left: 5%;

                p{
                    font-size: 14px;
                    color: var(--Gris, #4F4F4F);
                }
                button{
                    margin-top: 20px;
                    border: none;
                    border-radius: 100px;
                    background: $color-1;
                     display: inline-flex;
                     padding: 4px 16px 4px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    color: white;
                    transition: transform 0.2s ease-in-out;
                    border: 1px solid transparent;
                    &:hover{
                        background: #ffffff;
                        color: $color-1;
                        border: 1px solid $color-1;
                    }
                }
            }
        }
    }
}
}

@media screen and (max-width: 1024px){ 
    
    .toutesNosFormations{
        .containerNosFormations{
            .listeNosFormations{
                .formationLigne{
                    flex-direction: column;

                    .formationLigneText{
                        margin-bottom: 20px;
                        width: 80%;
                    }
                }
            }
        }
    }
}