@import '../../../style/settings.scss';


.handicap {

    .handicapHeader{
        height:500px;
        width: 100%;
        background-image: url("https://mdsformations-website-u5520.vm.elestio.app/handicap.webp");
        background-size:cover;
        object-fit: cover;
        background-position: 50% 60%;
        display: flex;
        align-items: start;
        justify-content: end;
        flex-direction: column;
        padding: 0 10% 60px 10%;
        color: white;
    
        h1{
            font-size: 36px;
            font-family: "poppins-semiBold";
            color: #ffffff;
           margin-bottom: 5px;
        }
        h2{
            font-size: 24px;
            font-family: "poppins-light";
            color: #ffffff;
        }
}

.handicapContainer{
    padding: 40px 10% 40px 10%;

    p{
        color: var(--Gris, #4F4F4F);
        font-family: "Poppins-light";
        font-size: 14px;
    }

    h3{
        color: var(--Gris, #000000);
        font-family: "Poppins-semiBold";
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    button{
        border: none;
        border-radius: 100px;
        background: $color-1;
        color: white;
        margin: 20px 0 20px 0;
        display: inline-flex;
        padding: 4px 16px 4px 16px;
        justify-content: space-around;
        align-items: center;
        width: auto;
        transition: transform 0.2s ease-in-out;
            border: 1px solid transparent;
            &:hover{
                background: #ffffff;
                color: $color-1;
                border: 1px solid $color-1;
            }
    }


    .handicapContainerImage{
        width: 100%;
        margin-top: 40px;
        p{
            font-size: 12px;
        }

        .handicapImage{
            display: flex;

            .handicapImage1{
                margin-top: 20px;
                margin-bottom: 20px;
                width: 159px;
                height: 212px;
                border-radius: 64px;
                background-size:cover;
                object-fit: cover;
                background-position: 50% 60%;
                display: flex;
                align-items: end;
                padding: 0 0 20px 20px;
                margin-left: 20px;

                h4{
                    color: white;
                }
            }
        }
    }

    }
    
}
