@font-face {
    font-family: 'homeMade';
    src: url('../../../font/Poppins/Schoolbell-Regular.ttf') format("truetype") ;

}
.plannings-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f2f2f2;
    padding: 20px;

    h2{
        span{
            color: grey !important;
            font-size: 10px;
            font-family: "homeMade" !important;
            padding-left: 10px;
        }
    }

    p{
        font-family: "poppins-light";
        color: #686666;
        margin-top: 10px;
    }

    .plannings-list{
        margin-top: 10px;
    
    button{
        border: none;
        border-radius: 100px;
        color:white;
        display: inline-flex;
        padding: 2px 16px 2px 16px;
        margin: 5px;
        justify-content: center;
        align-items: center;
        cursor:grab;
    }
}
}

@media screen and (min-width: 1024px) {
    .plannings-container{
        
        padding: 30px 10% 40px 10%;

        .planningsContainer{ 
        .planningContainerDesktopContainer{ 
            display: flex;
        .planningContainerDesktop{
            display: flex;
            flex-direction: column;
            background: white;
            border-radius: 20px;
            margin-right: 20px;
            padding: 10px;
        }
    }
    }
    }
}