@media only screen and (max-width: 1024px) {
    /* Toujours cacher le menu principal */
	.HeaderDesktop{
		display: none;
	}
}

.HeaderDesktop{

  padding: 0;

  a{
    z-index: 999;
    cursor: pointer;
  }

  .content {

    margin: 0 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    nav{

      display: flex;
      gap: 50px;
      
      .menu-item{
        cursor: pointer;
        font-size: 18px;
        line-height: 24px;
        border: none;
        border-radius: 5px;
        padding: 20px;
        background: none;
      }

      .phone {
        cursor: pointer;
        border-radius: 50%;
        background-color: #F2F2F2;
        padding: 8px;
      }
    }
  }
}
