@import '../../../style/settings.scss';



@media only screen and (max-width: 1024px) {
    /* Toujours cacher le menu principal */
	.HeaderDesktop{
		display: none;
	}
}

.HeaderDesktop{

  padding: 0;

  a{
    z-index: 999;
    cursor: pointer;
  }

  .content {

    margin: 0 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    nav{

      display: flex;
      gap: 50px;

      button{
        color: initial; /* Couleur initiale */
       transition: color 0.3s ease;
      }

      button:hover{
        
        color: $color-1;
        
      }
      
      .menu-item{
        cursor: pointer;
        font-size: 18px;
        line-height: 24px;
        border: none;
        border-radius: 5px;
        padding: 20px;
        background: none;
        text-rendering:optimizeLegibility;
        color: #4f4f4f;

        

        
      }
      .contact{  


        animation-name: shakeX ;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;

        .phone {
          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;
          border-radius: 40%;
          background-color: #ffffff;
          padding: 5px;
          margin-right: -5px;
          width: 50px;
  
  
          img{
            width: 25px;
            margin-right: 0px;
            margin-top: 5px;
          }
          
        }
        .mail{
          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;
          border-radius: 40%;
          background-color: #ffffff;
          padding: 5px;
          margin-right: -5px;
          width: 50px;
  
  
          img{
            width: 30px;
            margin-right: 0px;
          }
        }
      }
     
    }
  }
}
