.documentation{
    padding-top: 10px;
    background: var(--Blanc-1, #ffff);
    padding: 0;

    .articles_button{
        border: none;
        border-radius: 100px;
        background: var(--Violet, #7874C7);
        color: white;
        display: inline-block;
        width: auto;
        padding: 2px 16px 2px 16px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .home_white{
        padding: 20px 0 20px 20px;
        
    }

    .home{
        padding-top: 20px;
        padding-bottom: 30px;
        background: var(--Blanc-1, #F2F2F2);
        padding-left: 20px;
    }

    h3{
        color: var(--Gris-fonc, #333);
        font-size: 22px;
        font-weight: 400;
        width: 80%;
        
        
        span{
            color: var(--Violet, #7874C7);
    font-weight: 700;
        }
    }
    
    .documentation_text{
        padding: 0 20px 0px 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: -20px;

        h1{
            font-size: 25px;
            color: var(--Gris, #4F4F4F);
            margin-bottom: 10px;
        }
        p{
            font-size: 15px;
            color: var(--Gris, #4F4F4F);
            margin-bottom: 10px;
            margin-top: 11px;
        }
        button{
            border: none;
            border-radius: 100px;
            background: var(--Violet, #7874C7);
            color: white;
            display: inline-block;
            width: auto;
            padding: 2px 16px 2px 16px;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
    }


   

    .documentation_formulaire{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 0 20px 20px 20px;
       

        form{
            display: flex;
            flex-direction: column;
            .select-container {
                position: relative;
                display: inline-block;
             }
             
             .select-container::after {
                content: '\25BC'; /* Ceci est une flèche vers le bas */
                position: absolute;
                top: 58%;
                right: 27px; /* Positionnez la flèche à 10px du bord droit */
                transform: translateY(-50%); /* Centrez la flèche verticalement */
                pointer-events: none; /* Assurez-vous qu'elle ne bloque pas le clic sur le select */
             }
             
             select {
                width: 100%;
                appearance: none; /* Enlevez l'apparence par défaut du select */
                -moz-appearance: none; /* Enlevez l'apparence par défaut sur Firefox */
                -webkit-appearance: none; /* Enlevez l'apparence par défaut sur Chrome, Safari */
                background: transparent; /* Rendez l'arrière-plan transparent */
                padding-right: 30px; /* Laissez de l'espace pour la flèche */
             }

            select{
                margin: 10px 0 10px 0 ;
                background: var(--Blanc-1, #F2F2F2);
                border: none;
            border-radius: 100px;
            height: 35px ;
            color: rgb(0, 0, 0);
            margin-top: 20px;
            display: inline-flex;
            padding: 2px 16px 2px 16px;
            justify-content: center;
            align-items: center;
            font-size: 16px;

            .material-icons{
                margin-right: 15px;
            }
            }

            input{
                margin: 10px 0 10px 0 ;
                border: none;          /* Supprime toutes les bordures */
                border-bottom: 2px solid #4F4F4F; /* Ajoute une bordure en bas */
                outline: none; 
            }

            label{
                margin: 10px 0 10px 0 ;
                
            }

            .vae{
                
                display: flex;
                align-items: center;
                width: 100%;

                span{
                    margin-left: 10px;
                    font-weight: 200;
                    color: #4F4F4F;
                }

            }

            .info{
                display: flex;
                align-items: center;
                width: 100%;
               
                
                span{
                    margin-left: 10px;
                    font-weight: 200;
                    color: #4F4F4F;
                    font-size: 12px;
                }
            }

            button{
                margin: 10px 0 10px 0 ;
            }

            button{
                border: none;
            border-radius: 100px;
            background: var(--Violet, #7874C7);
            color: white;
            margin-top: 10px;
            display: inline-flex;
            padding: 2px 16px 2px 16px;
            justify-content: space-around;
            align-items: center;

            img{
                margin-left: 5px;
            }
        
            }
        }
    }
}

@media screen and (min-width:1025px){
    .documentation{
        margin-top: 100px;


        .documentation_formulaire{
            align-items: normal;
        }
    }
}