@font-face {
    font-family: 'homeMade';
    src: url('../../../font/Poppins/Schoolbell-Regular.ttf') format("truetype") ;

}
.homecadre{
    background: url('https://mdsformations-website-u5520.vm.elestio.app/test.webp'), lightgray -6.917px -220.732px / 159.857% 203.972% no-repeat;
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: cover ;
    transform: scaleX(1);
    height: 256px;
    width: 100%;
    padding: 20px;

    .homecadre_modal{
        width: 39px;
        height: 39px;;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            font-size: 35px;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 35px;
            }
        }
    }

    h3{
        color: white;
        width: 70%;
        margin-top: 10px;
    }
    .homecadre_button{
        margin-top: 20px;
        display: flex;
        align-items: center;
        height: 30px;
        
    button{
        border: none;
        border-radius: 100px;
        background: var(--Blanc-pur, #FFF);
        color:#7874C7;
        display: inline-flex;
        padding: 2px 16px 2px 16px;
        justify-content: center;
        align-items: center;
    }

    p{
        color: var(--Blanc-pur, #FFF);
        font-family:"homeMade" !important;
        font-size: 18px;
        margin-left: 15px;
        font-weight: 200;
    }
}
}

@media screen and (min-width: 1024px){}