@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

$mainColor: #ffffff;
$mainColorLight: #5767aa;
$secondaryColor: #db2b39;
$textColor: #000000;

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 1rem;
	background-color: $mainColor;
	color: $textColor;
    z-index: 999;



	
    .rightMenu{
        display: flex;
        justify-content: space-around;
        width: 44%;
    }

	.nav-btn {
		padding: 5px;
		cursor: pointer;
		background: transparent;
		border: none;
		outline: none;
		color: $textColor;
		visibility: hidden;
		opacity: 0;
		font-size: 1.8rem;
	}

	div,
	nav {
		display: flex;
		align-items: center;
	}

	nav {
		a {
			margin: 0 1rem;
			color: $textColor;
			text-decoration: none;

			&:hover {
				color: $textColor;
			}

			
		}
	}
}

@media only screen and (max-width: 1024px) {
	header {
		.nav-btn {
			visibility: visible;
			opacity: 1;
		}

		nav {
			position: fixed;
			top: -130vh;
			left: 0;
			height: 100%;
			width: 100%;
            padding-top: 80px;
            padding-left: 15px;
			display: flex;
			flex-direction: column;
			align-items: normal;
			justify-content: normal;
			gap: 1.5rem;
			background-color: $mainColor;
			transition: 0.7s;

			&.responsive_nav {
				transform: translateY(130vh);
			}

			.nav-close-btn {
				position: absolute;
				top: 2rem;
				right: 2rem;
			}

			a {
				font-size: 1.5rem;
                    display: flex;
                    align-items: center;

                img{
                    color: #000000;
                    padding-left: 5px;
                    padding-top: 2px;
					
                }
				.svgplus{
					width: 30px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
    /* Masquer le sous-menu */
    nav > nav {
        display: none;
    }

    /* Montrer le sous-menu si `isSubMenuVisible` est vrai */
    .submenu-visible > nav {
        display: block;
    }
}

/* Pour les appareils avec une largeur supérieure à 768px */
@media only screen and (min-width: 1024px) {
    /* Toujours montrer le menu principal */
    nav > a {
        display: block;
    }
}