@import '../../style/settings.scss';
.accompa{
    background-image: url("https://mdsformations-website-u5520.vm.elestio.app/rdvTelephoneMobile.webp");
    background-position: center left ;
     background-size:cover;
    object-fit: cover;
    transform: scaleX(1);
    width: 100%;
    height: 427px;

     .accompaContainer{
        background: transparent;
        transform: scaleX(1);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        padding: 20px;

        .modalIcon{
            width: 59px;
            height: 59px;;
            background: white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);

            p{
                font-size: 35px;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 55px;
                }
            }
        }

        

        h3{
            color: white;
            font-size: 20px;
            font-weight: 600;
            width: 60%;
            margin-top: 15px;
            font-family: "poppins-semibold";
        }

        h4{
            color: white;
            font-size: 20px;
            font-weight: 600;
            width: 70%;
            margin-top: 15px;
            font-family: "poppins-semibold";
        }

        .buttonAccompa{
            border: none;
            border-radius: 100px;
            background: $color-principale ;
            color: white;
            margin-top: 20px;
            display: inline-flex;
            padding: 2px 25px 2px 25px;
            justify-content: center;
            align-items: center;
            font-family: "poppins-semibold";
            width: auto;
            height: 28px;
        }
        
    }
}

@media screen and (min-width: 1024px){
 .accompa{
    background-image: url("https://mdsformations-website-u5520.vm.elestio.app/rdvTelephoneDesktop.webp");
    height: 300px;
    background-position: 50% 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .accompaContainer{ 
        align-items: center;
        justify-content: center;
        text-align: center;

        .accompaModal{
            display: flex;
            align-items: end;
            margin-left: -55px;

            .modalIcon{
                margin-right: 10px;
            }

            .accompaText{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                h4{
                    width: 100%;
                    margin-top: 0;
                    font-family: 'poppins-light';
                }
                h3{
                    font-family: 'poppins-bold';
                }
            }
        }

       h3{
        margin-top: 0;
        width: 100%;
        margin-left: 15px;
        font-family: 'poppins-light';
       }

       .buttonAccompa{
        margin-top: 5px;
        height: 37px;
        width: 320px;
        font-size: 20px;
       }
    }

 }

}