.homePage{
    background: var(--Blanc-1, #F2F2F2);
    .home{
        padding-left: 20px;

        h3{
            margin-top: 45px;
            color: var(--Gris-fonc, #333);
            font-size: 22px;
            font-weight: 400;
            width: 80%;

            span{
                color: var(--Violet, #7874C7); 
                font-weight: 700;
            }
        }

        .button_webinaire{
            border: none;
            border-radius: 100px;
            background: var(--Violet, #7874C7);
            color: white;
            margin-top: 40px;
            display: inline-flex;
            padding: 2px 16px 2px 16px;
            justify-content: center;
            align-items: center;
        }
    }
}

