@font-face {
    font-family: 'poppins';
    src: url('../font/Poppins/Poppins-Medium.woff') format("woff") ;
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "poppins" !important;
}
