@import '../../../style/settings.scss';

.differentFinancement{

    .headerDifferentFinancement{
        height:500px;
    width: 100%;
    background-image: url("https://mdsformations-website-u5520.vm.elestio.app/differentFinancement.webp");
    background-size:cover;
    object-fit: cover;
    background-position: 50% 60%;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    padding: 0 10% 60px 10%;
    color: white;

    h1{
        font-size: 36px;
        font-family: "poppins-semiBold";
        color: #ffffff;
        margin-bottom: 5px;
    }
    h2{
        font-size: 24px;
        font-family: "poppins-light";
        color: #ffffff;
    }
    }

    .containerDifferentFinancement{
        padding: 40px 10% 10px 10%;

        .textDiffFinance{
            padding-bottom: 15px;
            font-family: "poppins-light";
            font-size: 14px;
            margin-bottom: 20px;
        }

        .puceDiffFinance{
            display: flex;

            .puce{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }

            .text{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left: 10px;

                p{
                    padding-bottom: 15px;
                    font-family: "poppins-light";
                    font-size: 14px;
                }
        
                h3{
                    font-family: "poppins-semiBold";
                    margin: -3px 0 20px 0;
                    color: var(--Gris, #4F4F4F);
                    font-size: 16px;
                }

                button{
                    border: none;
                    border-radius: 100px;
                    background: $color-1;
                    color: white;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    display: inline-flex;
                    padding: 4px 16px 4px 16px;
                    margin-bottom: 40px;
                    margin-top: 20px;
                    justify-content: space-around;
                    align-items: center;
                    width: auto;
                }
            }
        }
    }
}

@media screen and (max-width:650px){
        .differentFinancement{
            .containerDifferentFinancement{
                padding: 40px 5% 10px 3%;
            }
        }
}