.homePage{
    background: var(--Blanc-1, #F2F2F2);
    .home{
        padding-left: 20px;

        h3{
            padding-top: 45px;
            color: var(--Gris-fonc, #333);
            font-size: 20px;
            font-weight: 400;
            width: 90%;
            margin-bottom: 20px;

            span{
                color: $color-principale; 
                font-weight: 700;
            }
        }

        p{
            color: var(--Gris, #4F4F4F);
            font-size: 15px;
            font-weight: 300;
            width: 80%;
        }
        .text_financement{
            font-family: "poppins-light";
        }

        .opco{
            margin-top: 15px;
            font-size: 13px;
        }

        .desktopText{
            display: none;
        }

        .button_webinaire{
            border: none;
            border-radius: 100px;
            background: $color-principale;
            color: white;
            margin-top: 40px;
            display: inline-flex;
            padding: 2px 16px 2px 16px;
            justify-content: center;
            align-items: center;
        }

        .financement{
            background: #F2F2F2;
        }
        .button_home_financement{ 
            display: flex;
            flex-direction: column;
            width: 100%;
        
        .button_contact{
            border: none;
            border-radius: 100px;
            background: $color-principale;
            color: white;
            margin-top: 20px;
            margin-bottom: 20px;
            display: inline-flex;
            padding: 2px 16px 2px 16px;
            justify-content: center;
            align-items: center;
            width: 140px;
            font-family: "poppins-semibold";
        }

        .button_savoir{
            border: none;
            border-radius: 100px;
            background: var(--Blanc-pur, #FFF);
            color: rgb(0, 0, 0);
            margin-bottom: 20px;
            display: inline-flex;
            padding: 2px 16px 2px 16px;
            justify-content: center;
            align-items: center;
            width: 110px;
            font-family: "poppins-semibold";
        }
    }
    }

    .googlemapdiv{
        background: #f4f4f4;
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h3{
        color: var(--Gris-fonc, #333);
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        padding: 20px 0px 5px 20px;
        width: 80%;
        span{
            color: $color-principale;
            font-weight: 700;
        }
    }

    p{
        color: var(--Gris, #4F4F4F);
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 68%;
font-family: "poppins-light";
    }
        .map-container{
            display: flex;
        width: 90%;
        height: 405px;
        justify-content: center;
        align-items: center;
        background: var(--Blanc-1, #F2F2F2);

        
        }

        .contactGoogleDekstop{
            display: none;
        }
    }
}

@media screen and (min-width: 1024px){
    .homePage{ .home{
        padding: 10px 15% 20px 0px;
        margin-left: 15%;

        h3{
            width: 65%;
            font-size: 25px;
        }


        .text_financement{
            display: none;
        }
        .opco{
            display: none;
        }
        .desktopText{
            display: flex;
            width: 100%;
        }


    }
        .googlemapdiv{ 
            align-items: normal;
            padding: 10px 15% 20px 15%;

            h3{
                padding-left: 0;
            }

            .map-container{
                justify-content: normal ;
            }
        
    .contactGoogleDekstop{
        display: block;
    }
}
}
}