@import '../../../style/settings.scss';

.global{
    width: 100%;
    padding: 0;
    margin: 0;

    .headerGlobal{
        height:400px;
        width: 100%;
        background-image: url("https://mdsformations-website-u5520.vm.elestio.app/global.webp");
        background-size:cover;
        object-fit: cover;
        background-position: 50% 60%;
        display: flex;
        align-items: start;
        justify-content: end;
        flex-direction: column;
        padding: 0 10% 60px 10%;
        color: white;

        h1{
            font-size: 36px;
            font-family: "poppins-semiBold";
            color: #ffffff;
            margin-bottom: -10px;
        }
        h2{
            font-size: 24px;
            font-family: "poppins-light";
            color: #ffffff;
        }

        
    }

    .globalContainer{
        padding: 40px 10% 40px 10%;
        p{
            color: var(--Gris, #4F4F4F);
            font-family: "Poppins-light";
            font-size: 14px;
            margin-top: 0px;
        }

        h3{
            color: var(--Gris, #4F4F4F);
            font-family: "Poppins-semiBold";
            font-size: 18px;
            margin-top: 25px;
            margin-bottom: 40px;
            width: 60%;

            span{
                color: $color-1;
            }
        }
        
        button{
            border: none;
            border-radius: 100px;
            background: $color-1;
            color: white;
            margin: 20px 0 20px 0;
            display: inline-flex;
            padding: 4px 16px 4px 16px;
            justify-content: space-around;
            align-items: center;
            width: auto;
        }
    }

    .globalContain{
        padding: 40px 10% 40px 10%;
        background: #f2f2f2;
        p{
            color: var(--Gris, #4F4F4F);
            font-family: "Poppins-light";
            font-size: 14px;
            margin-top: 0px;
        }

        h3{
            color: var(--Gris, #4F4F4F);
            font-family: "Poppins-semiBold";
            font-size: 18px;
            margin-top: 25px;
            margin-bottom: 40px;
            width: 60%;

            span{
                color: $color-1;
            }
        }

        h4{
            color: var(--Gris, #4F4F4F);
            font-family: "Poppins-semiBold";
            font-size: 18px;
            margin-top: 25px;
            margin-bottom: 40px;
            width: 100%;
            text-align: end;

            span{
                color: $color-1;
            }
        }
        .text-end{
            text-align: end;
        }
        
        button{
            border: none;
            border-radius: 100px;
            background: $color-1;
            color: white;
            margin: 20px 0 20px 0;
            display: inline-flex;
            padding: 4px 16px 4px 16px;
            justify-content: space-around;
            align-items: center;
            width: auto;
        }
    }



}