@import '../../../style/settings.scss';

.hebergement{
    width: 100%;
    padding: 0;
    margin: 0;

    .headerHebergement{
        height:300px;
        width: 100%;
        background-image: url("https://mdsformations-website-u5520.vm.elestio.app/hebergement.webp");
        background-size:cover;
        object-fit: cover;
        background-position: 50% 60%;
        display: flex;
        align-items: start;
        justify-content: end;
        flex-direction: column;
        padding: 0 10% 60px 10%;
        color: white;

        h1{
            font-size: 36px;
            font-family: "poppins-semiBold";
            color: #ffffff;
            margin-bottom: 5px;
        }
        h2{
            font-size: 24px;
            font-family: "poppins-semiBold";
            color: #ffffff;
        }
    }

    .hebergementContainer{
        padding: 40px 5% 40px 10%;

        p{
            padding-bottom: 15px;
        }

        button{
            border: none;
            border-radius: 100px;
            background: $color-1 ;
            color: white ;
            display: inline-flex;
            padding: 4px 16px 4px 16px;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
        }

        ul{ 
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: -15px;

            li{
                display: flex;
                width: 100%;

                .listHebergement{
                    display: flex;
                    width: 100%;

                    svg{
                        width: 50px !important; 
                        margin-top: 5px;
                        width: 10%;
                       
                    }
                    
                    p{
                       margin-left: -5px;
                        width: 90%;
                    }

                
                }
            }
        }

        .hebergementContainerPicture{
            display: flex;
            flex-direction: row;

            .containerPicture{
                display: flex;

                img{
                    background-size:cover;
                    object-fit: cover;
                    width: 159px;
                    height: 247px ;
                    border-radius: 21px;
                    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.15);
                    margin: 25px 10px 0 10px;
                }
            }
            p{
                width: 30%;
                margin-top: 25px;
                margin-left: 15px;
            }
        }

    }

    .hebergementEquipement{
        padding: 20px 10% 60px 10%;
        background-color: #f2f2f2;

        h3{
            color: $color-1;
            margin: 20px 0 20px 0;
        }

        .equipementContainer{
            display: flex;
            flex-direction: column;
            margin-top: 20px;


            .equipementLigne{
                display: flex;
                margin: 15px 0 15px 0;
                width: 100%;

                .equipement{
                    display: flex;
                    align-items: center;
                    width: 100%;

                    p{
                        width: 80%;
                        padding-left: 10px;
                        font-family: "poppins-light";
                        font-size: 14px;
                    }
                }
            }
        }

        .textEquipement{
            width: 100%;
            font-family: "poppins-light";
            font-size: 14px;
            margin: 15px 0 15px 0;
        }

        .interditContainer{
            display: flex;
            width: 70%;

            .equipement{
                display: flex;
                    align-items: center;
                    width: 100%;

                    p{
                        width: 80%;
                        padding-left: 10px;
                        font-family: "poppins-light";
                        font-size: 14px;
                    }
            }
        }

        .hebergementPrix{
            display: flex;
            flex-direction: column;
            width: 200px;

            .prix{
                color: $color-1;
                font-family: "poppins-bold";
                display: flex;
                flex-direction: row;
                align-items: center;

                .prixChiffre{
                    p{
                        font-size:90px ;
                        font-family: "poppins-bold";
                    }
                }

                .prixSymbole{
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: 42px;
                        font-family: "poppins-bold";
                    }

                    .slash{
                        font-size: 20px;
                        margin-bottom: 38px;
                        margin-top: -15px;
                        margin-left: 5px;
                    }
                }
                .prixText{
                    margin-top: 22px;
                    margin-left: -12px;
                    p{
                        font-size: 12px;
                        font-family: "poppins-light";
                        margin-top: -8px;
                    }
                }
            }
            .textEleve{
                margin-top: -50px;
                font-family: "poppins-light";
                font-size: 14px;
            }
            
        }
    }

    .possib{
        background: #f2f2f2;
        padding: 20px 10% 60px 10%;

        h3{
            color: $color-1;
            margin: 20px 0 20px 0;
        }
        p{
            font-size: 14px;
            color: var(--Gris, #4F4F4F);
            font-family: 'poppins-light';
        }

        .giteContainer{
            display: flex;
            margin-top: 20px;

          
                .giteText{
                 
                    button{
                            border: none;
                            border-radius: 100px;
                            background: $color-1 ;
                            color: white ;
                            display: inline-flex;
                            padding: 4px 16px 4px 16px;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 25px;
                    }
                }
        }
    }
    .cadreQuestion{
        margin-top: -30px;
    }

}






@media screen and (max-width:1024px){
    .hebergement {
        .hebergementContainer {
            .hebergementContainerPicture {
                flex-direction: column;
                

                p{
                    width: 100%;
                }

                .containerPicture{
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: center;
                }
            }
        }

        .hebergementEquipement{
            .equipementContainer{
                flex-direction: row;
                margin-top: 0;
                .equipementLigne{
                    flex-direction: column;
                    margin-top: 0;

                    .equipement{
                        margin-top: 25px;
                    }
                }
            }

            .interditContainer{
                flex-wrap: wrap;

                .equipement{
                    margin-top: 10px;
                }
            }
        }

        .home2{
            padding-bottom: 20px;
            .slider-formation{
                height: 287px;
            }
            .button_webinaire{
                margin-top: 14px;
            }
        }
    }
}