@import '../../../style/settings.scss';
.utiliser{

    .headerUtiliser{
        height:400px;
    width: 100%;
    background-image: url("https://mdsformations-website-u5520.vm.elestio.app/hommerose.webp");
    background-size:cover;
    object-fit: cover;
    background-position: 50% 60%;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    padding: 0 10% 60px 10%;
    color: white;

    h1{
        font-size: 36px;
        font-family: "poppins-semiBold";
        color: #ffffff;
        margin-bottom: 5px;
    }
    h2{
        font-size: 24px;
        font-family: "poppins-light";
        color: #ffffff;
    }
    }

    .utiliserContain, .utiliserContainer{
        padding: 20px 10% 20px 10%;
        
        .utiliserVideo{
            display: flex;
            margin-bottom: 20px;
            margin-top: 10px;

            .videoContain{ 
                width: 100%;

                p{
                    margin-top: -10px;
                    font-size: 10px;
                    text-align: end;
                    width: 70%;
                }

            iframe{
                width: 80%;
                height: 220px;
                
                border-radius: 20px;
                margin: 15px 20px 15px 0;
            }
        }
            
        }

        p{
            padding-bottom: 15px;
            font-family: "poppins-light";
            font-size: 14px;
            margin-top: 10px;
        }

        h3{
            font-family: "poppins-semiBold";
            margin: -3px 0 0px 0;
            color: var(--Gris, #4F4F4F);
            font-size: 16px;
            padding: 10px 0 20px 0;

            span{
                color: $color-1;
            }
        }

        button{
            border: none;
            border-radius: 100px;
            background: $color-1;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            display: inline-flex;
            padding: 4px 16px 4px 16px;
            margin-bottom: 20px;
            margin-top: 20px;
            justify-content: space-around;
            align-items: center;
            width: auto;
            transition: transform 0.2s ease-in-out;
                    border: 1px solid transparent;
                    &:hover{
                        background: #ffffff;
                        color: $color-1;
                        border: 1px solid $color-1;
                    }
        }
        ul{
            ol{
                font-size: 14px;
                color: var(--Gris, #4F4F4F);
            }
            li{
                margin-left: 20px;
                font-size: 14px;
                color: var(--Gris, #4F4F4F);

            }
        }
    }

}