.formation_container{
    
    
    p{
        
        font-size: 15px;
        font-family: 'poppins-light';
    }

    .descriptionContainer{
        button{
            margin-top: 15px;
        }
    }
}