@font-face {
    font-family: 'homeMade';
    src: url('../../../font/Poppins/Schoolbell-Regular.ttf') format("truetype") ;
    
}

@import '../../../../style/settings.scss';


.financement_cadre{
    background-position-y: 99% !important;
    background-size: 143% !important;
    background: url('https://mdsformations-website-u5520.vm.elestio.app/hommerose.webp'), lightgray -6.917px -220.732px / 159.857% 203.972% no-repeat;
    height: 217px;
    width: 100%;
    padding: 20px;

    .financement_cadre_modal{
        width: 39px;
        height: 39px;;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            font-size: 35px;
        }
    }

    h3{
        color: white;
        width: 70%;
        margin-top: 10px;
    }
    .financement_cadre_button{
        margin-top: 20px;
        display: flex;
        align-items: center;
        height: 30px;
        
    button{
        border: none;
        border-radius: 100px;
        background: $color-principale ;
        color:#ffffff;
        display: inline-flex;
        padding: 2px 16px 2px 16px;
        justify-content: center;
        align-items: center;
        margin-right: 20px ;
    }

    .buttonSavoir {
        border: none;
        border-radius: 100px;
        background: var(--Blanc-pur, #FFF);
        color:$color-text;
        display: inline-flex;
        padding: 2px 16px 2px 16px;
        justify-content: center;
        align-items: center;
    }

}
}